.orders-container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
}

.order-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.order-card {
  padding: 1rem;

  mat-chip {
    margin-top: 0.5rem;
  }

  mat-card-actions {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}

.status-filter {
  width: 250px;
  margin-bottom: 16px;
}

.load-more {
  display: flex;
  justify-content: center;
  margin: 32px 0 64px;
}
